/* color #FFCE34 */
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
}

#root {
  height: 100%;
}

.map-container {
  height: 100%;
  width: 70%;
}

.leaflet-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  position: fixed;
}

.leaflet-top.leaflet-left {
  left: 3%;
  top: 3%;
}

.leaflet-popup-content-wrapper {
  width: fit-content;
}

.leaflet-popup-content {
  width: fit-content;
}

.request-popup {
  width: fit-content;
}

.request-popup img {
  display: block;
  margin: auto;
}

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  line-height: 16px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .legend-text {
  font-weight: bold;
  font-size: 12px;
}

.legend .legend-header {
  width: 100%;
  margin-bottom: 10px;
}

.legend .legend-header span {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.preloader-wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  /* position: absolute; */
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #00a0d4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00a0d4 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.leaflet-right {
  bottom: 50px;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
